
body {
  background-color: #ffeaf3;  
  color: #333;
  font-family: 'Alata', sans-serif;
  margin: 0px;
}

header {
    background-color: #eb5b9e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: "Lobster Two", sans-serif;
}

header h1 {
    font-size: 55px;
    margin: 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: #ffccdd;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

.img-carrosel {
    width: 100%;
    object-fit: cover;
    height: auto;
    max-height: 300px;
    margin-bottom: 25px;
}

.img-grande {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.img-grande img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.container h2 {
    text-align: center;
    font-size: 50px;
    font-family: "Lobster Two", sans-serif; 
    color: #eb5b9e;
}

.card-sobre {
    background: #ffffff;
    padding: 35px 45px;
    border-radius: 25px;
    box-shadow: 0 12px 35px rgba(235, 91, 158, 0.25);
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    margin: 30px auto;
    max-width: 900px;
}

.card-sobre p {
    margin-bottom: 20px;
}

.destaque {
    color: #eb5b9e;
    font-weight: bold;
    font-size: 20px;
}


.formulario {
    background-color: #fcfcfc;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 12px 35px rgba(235, 91, 158, 0.25);
    max-width: 700px;
    margin: 50px auto;
    font-family: 'Alata', sans-serif;
}

.formulario h2 {
    text-align: center;
    font-size: 40px;
    font-family: "Lobster Two", sans-serif;
    color: #eb5b9e;
    margin-bottom: 25px;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario label {
    font-weight: bold;
    color: #eb5b9e;
    font-size: 18px;
}

.formulario input,
.formulario textarea {
    padding: 12px 15px;
    border: 2px solid #eb5b9e;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Alata', sans-serif;
    outline: none;
    transition: 0.3s;
}

.formulario input:focus,
.formulario textarea:focus {
    border-color: #ff99c8;
    box-shadow: 0 0 8px rgba(235, 91, 158, 0.4);
}

.formulario button {
    background-color: #eb5b9e;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-size: 18px;
    font-family: "Lobster Two", sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.formulario button:hover {
    background-color: #fdedf4;
    color: #333;
}


footer {
    background-color: #eb5b9e;
    color: #fff;
    text-align: center;
    padding: 30px;
    font-family: "Lobster Two", sans-serif;
    font-size: 20px;
    margin-top: 50px;
}