body {
  background-color: #ffeaf3;  
  color: #333;
  margin: 0;
  font-family: 'Alata', sans-serif;
}

header {
    background-color: #eb5b9e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: "Lobster Two", sans-serif;
}

header h1 {
    font-size: 55px;
    margin: 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: #ffccdd;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

.img-outubro {
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: left center; 
    margin-bottom: 25px;
}

.img-grande {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.img-grande img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.container h2 {
    text-align: center;
    font-size: 50px;
    font-family: "Lobster Two", sans-serif; 
    color: #eb5b9e;
}

.card-sobre {
    background: #ffffff;
    padding: 35px 45px;
    border-radius: 25px;
    box-shadow: 0 12px 35px rgba(235, 91, 158, 0.25);
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    margin: 30px auto;
    max-width: 900px;
}

.card-sobre p {
    margin-bottom: 20px;
}

.destaque {
    color: #eb5b9e;
    font-weight: bold;
    font-size: 20px;
}

footer {
    background-color: #eb5b9e;
    color: #fff;
    text-align: center;
    padding: 30px;
    font-family: "Lobster Two", sans-serif;
    font-size: 20px;
    margin-top: 50px;
}