* {
     font-family: "Lobster Two", sans-serif;
}

header {
    background-color: #eb5b9e;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;  
    align-items: center;     
}

header h1 {
    font-size: 55px;
    margin: 0;
    text-align: center;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px; 
    margin-top: 15px; 
    padding: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}
