body {
  background-color: #ffeaf3;  
}

header {
    background-color: #eb5b9e;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;  
    align-items: center; 
     font-family: "Lobster Two", sans-serif;    
}

header h1 {
    font-size: 55px;
    margin: 0;
    text-align: center;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px; 
    margin-top: 15px; 
    padding: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

.img-outubro {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: left center; 
    margin-bottom: 25px;
}

.img-grande {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.img-grande img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}


.container h2 {
    text-align: center;
    font-size: 50px;
}

.container p {
    text-align: center;
    font-size: 17px;
    font-family: "Alan Sans", sans-serif;
    margin-bottom: 25px;
}

footer {
     background-color: #eb5b9e;
    color: #fff;
    text-align: center;
    padding: 25px;
     font-family: "Lobster Two", sans-serif;  
     font-size: 20px;

}


