body {
  background-color: #ffeaf3;  
  color: #333;
  margin: 0;
  font-family: 'Alata', sans-serif;
}

header {
    background-color: #eb5b9e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: "Lobster Two", sans-serif;
}

header h1 {
    font-size: 55px;
    margin: 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: #ffccdd;
}










footer {
    background-color: #eb5b9e;
    color: #fff;
    text-align: center;
    padding: 30px;
    font-family: "Lobster Two", sans-serif;
    font-size: 20px;
    margin-top: 50px;
}