body {
  background-color: #ffeaf3;  
  color: #333;
  margin: 0;
  font-family: 'Alata', sans-serif;
}

header {
    background-color: #eb5b9e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: "Lobster Two", sans-serif;
}

header h1 {
    font-size: 55px;
    margin: 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: #ffccdd;
}


.sobre-texto {
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 25px;
    box-shadow: 0 12px 35px rgba(235, 91, 158, 0.22);
    text-align: center;
    font-size: 19px;
    line-height: 1.8;
    margin: 35px auto;
    max-width: 900px;
    color: #444;
}

.sobre-texto p {
    margin-bottom: 24px;
}

.sobre-texto .destaque {
    font-size: 24px;
    color: #eb5b9e;
    font-weight: bold;
    margin-top: 30px;
}










footer {
    background-color: #eb5b9e;
    color: #fff;
    text-align: center;
    padding: 30px;
    font-family: "Lobster Two", sans-serif;
    font-size: 20px;
    margin-top: 50px;
}